Language:        Cpp
BasedOnStyle:    LLVM

IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     100

BreakBeforeBraces: Attach
InsertBraces:    true

PointerAlignment: Left

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

AlignConsecutiveMacros: AcrossComments
AlignTrailingComments: true
AlignAfterOpenBracket: Align

SortIncludes:    false

SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
